* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #404040;
}

.item-lista-cabecalho a:link,
.item-lista-cabecalho a:visited {
  color: #112e61;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.item-lista-cabecalho a:hover,
.item-lista-cabecalho a:active {
  color: #ff6900;
}
